/* Gallery grid */
header{
    color: rgb(241, 235, 235);
    background-color: rgb(135, 10, 10);
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
}

.gallery{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    padding:20px;
}

.gallery-item{
    text-align: center;
    background-color: hwb(246 82% 15%);
    padding: 10px;
    border-radius: 8px;
}
.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

h2{
    text-align: center;
   
}
table{
    width: 100%;
    border-collapse:collapse ;
    margin: 20px 0;
    text-align: center;
}

th,td{
    padding: 10px;
    text-align: center;
}